.App {
  text-align: center;
  padding: 20px;
  font-family: "sans-serif";
}

.App-board {
  display: flex;
  gap: 20px;
}

.App-info {
  min-width: 320px;
}

.App-info-item {
  margin-bottom: 12px;
}

.board-snapshot {
  word-break: break-all;
  margin-bottom: 12px;
}

.board-record {
  word-break: break-all;
  margin-bottom: 12px;
}

.App-info-actions {
  display: flex;
  gap: 8px;
}
